html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;
    width: auto;
    margin: 0;
}

.hero {
    /*justify-content: space-evenly;*/
    background-color: #1f2937;
    margin: 0;
    padding: 0;
    height: auto;
    display: block;
}

.logo {
    color:#f9faf8;
    font-size: 24px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
}

.banner {
    display: flex;
    justify-content: space-evenly;
    flex: auto;
    flex-wrap: wrap;
    align-items: baseline;
}

ul, li {
    list-style-type: none;
    display: inline;
}

.heroText {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-top: 2em;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

a, p {
    color: #e5e7eb;
    font-size: 18px;
}

.container {
    display: block;
    flex-wrap: wrap;
    background-color: #f9faf8;
    color: #1f2937; 
    font-size: 14px;
    text-align: center;
    width: 100%
}

.bottomHeader {
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 1rem;
    font-size: 36px;
    flex: auto;
    text-align: center;
    width: 100%;
}

.imageRow {
    display: flex;
    flex: 1 0;
    justify-content: space-evenly;
    gap: 2em;
    color: #1f2937;
    margin-top: 2em;
}

.para {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
    color: #1f2937;
    justify-content: space-evenly
}

.image {
    margin: 10px;
    position: relative;
    vertical-align: text-bottom;
}

#quote {
    color: #1f2937;
    font-size: 20px;
    font-style: italic;
    font-weight:lighter;
    padding-inline-start: 18px;
    display: flex;
}

button {
border-radius: 6px; 
border-color: #e5e7eb;
background-color: #3882f6;
color: #e5e7eb;
flex: 1 2;
}

.quoteBlock {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 16px;
    font-style: italic;
    font-weight: light;
    text-align: center;
    width: 100%;
    justify-content: center;
    height: 300px;
}

#quoteSpan {
    align-items:self-end;
    display: flex;
    padding: 10px;
    padding-bottom: 100px;
}

#quote {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9faf8;
    height: 300px;
}

.subcontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: #f9faf8;
    margin: 10px;
    width: 80%;
    height: 70px;
    font-size: 10px;
    border-radius: 1em;
}

.calltoAction {
    padding: 20px;
    display: flex;
    font-size: 10px;
    font-weight: lighter;
}

#button2 {
    display: flex;
    font-size: 10px;
    margin-right: 15px;
}

.last {
    height: 50px;
    width:  100%;
    display: flex;
    color: #f5f8fc;
    font-size: 12px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}
